*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

header, section, footer{
    margin-bottom: 30px;
}

h1, h2{
    color: #444;
}
button{
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background: #0056b3;
}

